*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: aqua;
    height: 60px;
}
.footer{
    background-color: crimson;
    height: 60px;
}
.container{
    height:1100px;
}
.container>div{
    float: left;
    height: 100%;
}
.maincontent{
    background-color: black;
    width: 100%;
    margin-left: 200px;
    margin-right: -200px;
}
.left{
    width: 200px;
    background-color: blue;
    margin-left: -100%;
}
.right{
    width: 200px;
    background-color: blueviolet;
    margin-left: -200px;
}
