*{
    padding: 0px;
    margin: 0px;
}
.header{
    background-color: aqua;
    height: 60px;
}
.footer{
    background-color: crimson;
    height: 60px;
}
.container{
    height:1100px;
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: start;
}
